apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-app
  namespace: microservices
  labels:
    app: redis-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-app
  template:
    metadata:
      labels:
        app: redis-app
    spec:
      containers:
        - name: redis-app
          image: redis:7.0.4
          ports:
            - containerPort: 6379
          command:
            - "redis-server"
          args:
              - "--protected-mode"
              - "no"

---

apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    app: redis-app
spec:
  ports:
    - port: 6379
      targetPort: 6379
  selector:
    app: redis-app
